.point-of-sale .popup .content .customer-form  {
    font-size:18px;
    width:640px;
}

.point-of-sale .popup .customer-form td:first-child{
    vertical-align:middle;
}

.point-of-sale .popup .content .customer-form input[type=text] {
    font-size: auto;
    height:auto;
}

.point-of-sale #rightheader .header-button:last-child {
    border-right: none;
}




