.oe_modal_dialog{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    z-index:1000;
}
.oe_modal_dialog .oe_popup{
    position: absolute;
    left:50%;
    top:50%;
    width:630px;
    height:420px;
    margin-left: -250px;
    margin-top: -200px;
    padding:5px;
    padding-top:20px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px -1px white, 0px 1px white, 0px 4px #949494, 0px 10px 20px rgba(0, 0, 0, 0.3);
    z-index:1200;
}

.oe_popup .oe_header{
    width:100%;
    height:35px;
    border-bottom: 1px solid #E0DDDD;
    margin:0 0 8px
}

.oe_popup .oe_header .oe_title{
    width: 93%;
    float: left;
    text-align: left;
    margin-left: 16px;
}

.oe_popup .oe_header .oe_close{
    right: .3em;
    top: 50%;
}

.oe_content{
    padding:.5em 1em
}

table {
   border-collapse:collapse;
}
.oe_text_field {
    -webkit-border-radius: 3px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 22px;
    margin: 2px 2px 2px 2px;
    text-indent:5px;
}

.oe_text_area {
    -webkit-border-radius: 3px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 32px;
}


label {
    font-weight:bold;
    font-size:15px
}

input:disabled {
    background-color: rgb(235, 235, 228);
}

.point-of-sale td {
    padding:2px 4px 2px;
}

td:first-child{
    border-right: 1px solid #dddddd;
}


    








